@model asm.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.courseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.courseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCredits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCredits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturer.LecturerID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.courseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
